<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/adminLogin.css">
    <title>상담관리 프로그램</title>
</head>
<body>
    <form class="login_box" action="/admin/loginAction" method="post">
        <h3>SIGN IN NOW</h3>
        <p>User ID</p>
        <input type="text" name="id">
        <p>Password</p>
        <input type="text" name="psw">
        <input type="submit" value="Login">
        <input type="button" value="HOME">
        <p>Please login to System Adminisrators only</p>
    </form>
</body>
</html>